.Rproj.user
.Rhistory
.RData
.Ruserdata
check_sd_sizes.R
checkTEsTrypa.sh
config_hg.yaml
config_mus.yaml
config_pig.yaml
cov_normal_by_fam.png
.gitignore
extract_length_from_repbase.py
extract_starts.R
extractTrypaTE.R
families.tsv
gc_tes_normal_50_300.png
gc_tes_normal.png
.gitignore
generate_savestates.sh
.gitignore
helitron_starts_rel_nieb.png
ids_valid.csv
invertNameAndChrBed.py
plot_cov_together.png
plot_starts.R
plotAluvsNoTE.R
.gitignore
plotCovTogether.R
.gitignore
plotFeature.R
plotPolyaTogether.R
.gitignore
plots_icte.R
plots_mobileet.R
selectOKFamilies.R
setup_new_species.sh
scripts/tes_per_fam.R
scripts/selectNIEBs.R
scripts/plotCompareTEs.R
.gitignore
scripts/plot_nucs_counts_on_niebs.R
scripts/plot_te_counts_on_niebs.R
scripts/mergeIntersects.R
scripts/filter_fams.R
scripts/equilibrium.sh
scripts/agg_by_fam.R
.gitignore
trypa_TEs.bed
rules/te_analysis_module.smk
tes_trypa_start.png
tes_trypa_end.png
special_polyA_plot.R
transformClassification.py
